/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding: 0;
	margin: 0;
}

.top h1 {
	text-align: center;
	margin-top: 0em;
	margin-bottom: 0em;
	-webkit-margin-before: 0em;
	-margin-before: 0em;
	background-color: #444;
	border-color: #444;
	color: #fff;
}

summary {
	font-size: 28px;
}

.nav ul {
  display: block;
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  width: 120px;
  font-size: 1em;
  line-height: 18px;
  height: 18px;
  border-bottom: none;
  display: inline-block;
  margin-right: -4px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .1s background-color;
}

.nav a:hover {
  background-color: #077;
}

.nav a.active {
  background: #900;
  color: #fff;
  cursor: default;
}

.contents {
	width: 70%;
}

.details {
	width: 30%;
}

.top {
    position: relative;
    z-index: 10;
	margin: 0;
}

.main {
	display: flex;
    overflow: hidden;
    height: calc(100vh - 200px);
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.analyse-main {
	display: flex;
    overflow: hidden;
    height: calc(100vh - 240px);
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.analyse-description {
    margin: 0.3em;
}

.column {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.bar {
	margin: 0.3em;
}

.description {
	margin: 0.3em;
	height: calc(100vh - 140px);
    position: relative;
    overflow: auto;
}

#api-bar {
	display: flex;
	flex-direction: row;
	margin: 0.3em;
}

#api-error {
	color: #ff3333;
}

#api-key {
	font-size: 10px;
	width: 440px;
}

.section-header {
  padding: .5rem;
  color: #fff;
  width: 95%;
  background: #600;
}

.category {
  padding-bottom: 20px;
}

.category-header {
  padding: .25rem;
  color: #fff;
  width: 95%;
  font-size: 24px;
}

.color {
	//background-image: url("../img/splat.png");
	//background-repeat: no-repeat;
	//background-blend-mode: multiply;
}

.icon-text {
	color: #ffffff;
	font-size: 0px;
	text-shadow:
	  -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.footer {
	font-size: 12px;
}

.unlocked {
	display: none !important;
    visibility: hidden;
}

.title {
	font-size: 20px;
    font-weight: bold;
}

#analyse-list {
    display: table;
}

.entry,.filter-option {
  display: table-row;
}

.advanced-filter-section {
  display: flex;
}

.advanced-filter-summary {
  font-size: 16px;
}

.filter-group {
	display: inline-block;
	margin: 4px;
}

.entry-name,.entry-price,.entry-checkbox,.filter-label,.filter-selection {
display: table-cell;
padding-right: 10px;
}

.base-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}

/* ==========================================================================
   Currency icons
   ========================================================================== */

.achievement-icon {
  background-image: url('../img/currencies.png');
  background-position: -0px -0px;
}
.adventure-icon {
  background-image: url('../img/currencies.png');
  background-position: -18px -0px;
}
.airshippart-icon {
  background-image: url('../img/currencies.png');
  background-position: -36px -0px;
}
.ascaloniantear-icon {
  background-image: url('../img/currencies.png');
  background-position: -54px -0px;
}
.ascendedshardofglory-icon {
  background-image: url('../img/currencies.png');
  background-position: -72px -0px;
}
.aurillium-icon {
  background-image: url('../img/currencies.png');
  background-position: -90px -0px;
}
.banditcrest-icon {
  background-image: url('../img/currencies.png');
  background-position: -108px -0px;
}
.bauble-icon {
  background-image: url('../img/currencies.png');
  background-position: -126px -0px;
}
.birthday-icon {
  background-image: url('../img/currencies.png');
  background-position: -144px -0px;
}
.birthday1-icon {
  background-image: url('../img/currencies.png');
  background-position: -162px -0px;
}
.birthday3-icon {
  background-image: url('../img/currencies.png');
  background-position: -180px -0px;
}
.birthday4-icon {
  background-image: url('../img/currencies.png');
  background-position: -198px -0px;
}
.birthday5-icon {
  background-image: url('../img/currencies.png');
  background-position: -216px -0px;
}
.birthday6-icon {
  background-image: url('../img/currencies.png');
  background-position: -234px -0px;
}
.blacklionchest-icon {
  background-image: url('../img/currencies.png');
  background-position: -252px -0px;
}
.blmt-icon {
  background-image: url('../img/currencies.png');
  background-position: -270px -0px;
}
.bloodruby-icon {
  background-image: url('../img/currencies.png');
  background-position: -288px -0px;
}
.bls-icon {
  background-image: url('../img/currencies.png');
  background-position: -306px -0px;
}
.blsprocket-icon {
  background-image: url('../img/currencies.png');
  background-position: -324px -0px;
}
.blt-icon {
  background-image: url('../img/currencies.png');
  background-position: -342px -0px;
}
.boh-icon {
  background-image: url('../img/currencies.png');
  background-position: -360px -0px;
}
.bundleofloot-icon {
  background-image: url('../img/currencies.png');
  background-position: -378px -0px;
}
.candycorncob-icon {
  background-image: url('../img/currencies.png');
  background-position: -396px -0px;
}
.casinocoin-icon {
  background-image: url('../img/currencies.png');
  background-position: -414px -0px;
}
.chakegg-icon {
  background-image: url('../img/currencies.png');
  background-position: -432px -0px;
}
.charrcarving-icon {
  background-image: url('../img/currencies.png');
  background-position: -450px -0px;
}
.copper-icon {
  background-image: url('../img/currencies.png');
  background-position: -468px -0px;
}
.craft-icon {
  background-image: url('../img/currencies.png');
  background-position: -486px -0px;
}
.crystallineore-icon {
  background-image: url('../img/currencies.png');
  background-position: -504px -0px;
}
.deadlybloom-icon {
  background-image: url('../img/currencies.png');
  background-position: -522px -0px;
}
.deluxe-icon {
  background-image: url('../img/currencies.png');
  background-position: -540px -0px;
}
.difluorite-icon {
  background-image: url('../img/currencies.png');
  background-position: -558px -0px;
}
.elegymosaic-icon {
  background-image: url('../img/currencies.png');
  background-position: -576px -0px;
}
.event-icon {
  background-image: url('../img/currencies.png');
  background-position: -594px -0px;
}
.favorofthefestival-icon {
  background-image: url('../img/currencies.png');
  background-position: -612px -0px;
}
.festivaltoken-icon {
  background-image: url('../img/currencies.png');
  background-position: -630px -0px;
}
.fireorchidblossom-icon {
  background-image: url('../img/currencies.png');
  background-position: -648px -0px;
}
.fractalrelic-icon {
  background-image: url('../img/currencies.png');
  background-position: -666px -0px;
}
.fractalresearchpage-icon {
  background-image: url('../img/currencies.png');
  background-position: -684px -0px;
}
.gaeting-icon {
  background-image: url('../img/currencies.png');
  background-position: -702px -0px;
}
.gem-icon {
  background-image: url('../img/currencies.png');
  background-position: -720px -0px;
}
.globofectoplasm-icon {
  background-image: url('../img/currencies.png');
  background-position: -738px -0px;
}
.gold-icon {
  background-image: url('../img/currencies.png');
  background-position: -756px -0px;
}
.goldenfractalrelic-icon {
  background-image: url('../img/currencies.png');
  background-position: -774px -0px;
}
.grandmasterarmorsmithsmark-icon {
  background-image: url('../img/currencies.png');
  background-position: -792px -0px;
}
.grandmasterartifactmark-icon {
  background-image: url('../img/currencies.png');
  background-position: -810px -0px;
}
.grandmasterhuntsmanmark-icon {
  background-image: url('../img/currencies.png');
  background-position: -828px -0px;
}
.grandmasterleatherworkersmark-icon {
  background-image: url('../img/currencies.png');
  background-position: -846px -0px;
}
.grandmastertailorsmark-icon {
  background-image: url('../img/currencies.png');
  background-position: -864px -0px;
}
.grandmasterweaponmark-icon {
  background-image: url('../img/currencies.png');
  background-position: -882px -0px;
}
.guildcommendation-icon {
  background-image: url('../img/currencies.png');
  background-position: -900px -0px;
}
.gwu-icon {
  background-image: url('../img/currencies.png');
  background-position: -918px -0px;
}
.hallofmonuments-icon {
  background-image: url('../img/currencies.png');
  background-position: -936px -0px;
}
.inscribedshard-icon {
  background-image: url('../img/currencies.png');
  background-position: -954px -0px;
}
.integratedmatrix-icon {
  background-image: url('../img/currencies.png');
  background-position: -972px -0px;
}
.jadeshard-icon {
  background-image: url('../img/currencies.png');
  background-position: -990px -0px;
}
.karkashell-icon {
  background-image: url('../img/currencies.png');
  background-position: -1008px -0px;
}
.karma-icon {
  background-image: url('../img/currencies.png');
  background-position: -1026px -0px;
}
.knowledgecrystal-icon {
  background-image: url('../img/currencies.png');
  background-position: -1044px -0px;
}
.kralkatiteore-icon {
  background-image: url('../img/currencies.png');
  background-position: -1062px -0px;
}
.laurel-icon {
  background-image: url('../img/currencies.png');
  background-position: -1080px -0px;
}
.leylinecrystal-icon {
  background-image: url('../img/currencies.png');
  background-position: -1098px -0px;
}
.magnetiteshard-icon {
  background-image: url('../img/currencies.png');
  background-position: -1116px -0px;
}
.manifesto-icon {
  background-image: url('../img/currencies.png');
  background-position: -1134px -0px;
}
.memoryofbattle-icon {
  background-image: url('../img/currencies.png');
  background-position: -1152px -0px;
}
.mistonium-icon {
  background-image: url('../img/currencies.png');
  background-position: -1170px -0px;
}
.orrianpearl-icon {
  background-image: url('../img/currencies.png');
  background-position: -1188px -0px;
}
.petrifiedwood-icon {
  background-image: url('../img/currencies.png');
  background-position: -1206px -0px;
}
.pristinefractalrelic-icon {
  background-image: url('../img/currencies.png');
  background-position: -1224px -0px;
}
.provisionertoken-icon {
  background-image: url('../img/currencies.png');
  background-position: -1242px -0px;
}
.pvp-icon {
  background-image: url('../img/currencies.png');
  background-position: -1260px -0px;
}
.pvplt-icon {
  background-image: url('../img/currencies.png');
  background-position: -1278px -0px;
}
.pvptournamentvoucher-icon {
  background-image: url('../img/currencies.png');
  background-position: -1296px -0px;
}
.racingmedallion-icon {
  background-image: url('../img/currencies.png');
  background-position: -1314px -0px;
}
.reclaimedplate-icon {
  background-image: url('../img/currencies.png');
  background-position: -1332px -0px;
}
.sealofbeetletun-icon {
  background-image: url('../img/currencies.png');
  background-position: -1350px -0px;
}
.shadowsseal-icon {
  background-image: url('../img/currencies.png');
  background-position: -1368px -0px;
}
.shardofglory-icon {
  background-image: url('../img/currencies.png');
  background-position: -1386px -0px;
}
.shardofzhaitan-icon {
  background-image: url('../img/currencies.png');
  background-position: -1404px -0px;
}
.silver-icon {
  background-image: url('../img/currencies.png');
  background-position: -1422px -0px;
}
.snowdiamond-icon {
  background-image: url('../img/currencies.png');
  background-position: -1440px -0px;
}
.story-icon {
  background-image: url('../img/currencies.png');
  background-position: -1458px -0px;
}
.swimspeedinfusion-icon {
  background-image: url('../img/currencies.png');
  background-position: -1476px -0px;
}
.symbolofkoda-icon {
  background-image: url('../img/currencies.png');
  background-position: -1494px -0px;
}
.tp-icon {
  background-image: url('../img/currencies.png');
  background-position: -1512px -0px;
}
.tradecontract-icon {
  background-image: url('../img/currencies.png');
  background-position: -1530px -0px;
}
.unboundmagic-icon {
  background-image: url('../img/currencies.png');
  background-position: -1548px -0px;
}
.vendor-icon {
  background-image: url('../img/currencies.png');
  background-position: -1566px -0px;
}
.volatilemagic-icon {
  background-image: url('../img/currencies.png');
  background-position: -1584px -0px;
}
.winterberries-icon {
  background-image: url('../img/currencies.png');
  background-position: -1602px -0px;
}
.wvwsct-icon {
  background-image: url('../img/currencies.png');
  background-position: -1620px -0px;
}
.brandedmass-icon {
  background-image: url('../img/currencies.png');
  background-position: -1638px -0px;
}
.mistbornmote-icon {
  background-image: url('../img/currencies.png');
  background-position: -1656px -0px;
}
.spiritshard-icon {
  background-image: url('../img/currencies.png');
  background-position: -1674px -0px;
}
.unstablefractalessence-icon {
  background-image: url('../img/currencies.png');
  background-position: -1692px -0px;
}
.enchantedsnowball-icon {
  background-image: url('../img/currencies.png');
  background-position: -1710px -0px;
}
.snowflake-icon {
  background-image: url('../img/currencies.png');
  background-position: -1728px -0px;
}
.birthday7-icon {
  background-image: url('../img/currencies.png');
  background-position: -1746px -0px;
}
.hatchedchili-icon {
  background-image: url('../img/currencies.png');
  background-position: -1764px -0px;
}
.eternaliceshard-icon {
  background-image: url('../img/currencies.png');
  background-position: -1782px -0px;
}
.eitriteingot-icon {
  background-image: url('../img/currencies.png');
  background-position: -1800px -0px;
}
.blueprophetshard-icon {
  background-image: url('../img/currencies.png');
  background-position: -1818px -0px;
}
.jorbreaker-icon {
	background-image: url('../img/currencies.png');
  background-position: -1836px -0px;
}
.birthday8-icon {
	background-image: url('../img/currencies.png');
  background-position: -1854px -0px;
}
.fractaljournal-icon {
	background-image: url('../img/currencies.png');
  background-position: -1872px -0px;
}
.tyriandefenseseal-icon {
  background-image: url('../img/currencies.png');
  background-position: -1890px -0px;
}
.exoticluck-icon {
  background-image: url('../img/currencies.png');
  background-position: -1908px -0px;
}
.legendaryluck-icon {
  background-image: url('../img/currencies.png');
  background-position: -1926px -0px;
}
.birthday9-icon {
  background-image: url('../img/currencies.png');
  background-position: -1944px -0px;
}
.imperialfavor-icon {
  background-image: url('../img/currencies.png');
  background-position: -1962px -0px;
}
.pieceofcrustaceanmeat-icon {
  background-image: url('../img/currencies.png');
  background-position: -1980px -0px;
}
.flawlessfishfillet-icon {
  background-image: url('../img/currencies.png');
  background-position: -1998px -0px;
}
.canachcoin-icon {
  background-image: url('../img/currencies.png');
  background-position: -2016px -0px;
}
.writofseitungprovince-icon {
  background-image: url('../img/currencies.png');
  background-position: 0px -18px;
}
.writofnewkainengcity-icon {
  background-image: url('../img/currencies.png');
  background-position: -18px -18px;
}
.writofechovaldwilds-icon {
  background-image: url('../img/currencies.png');
  background-position: -36px -18px;
}
.writofdragonsend-icon {
  background-image: url('../img/currencies.png');
  background-position: -54px -18px;
}
.greenprophetshard-icon {
  background-image: url('../img/currencies.png');
  background-position: -72px -18px;
}
.unusualcoin-icon {
  background-image: url('../img/currencies.png');
  background-position: -90px -18px;
}
.researchnote-icon {
  background-image: url('../img/currencies.png');
  background-position: -108px -18px;
}
.crimsonassassintoken-icon {
  background-image: url('../img/currencies.png');
  background-position: -126px -18px;
}
.fragmentofprismaticshadows-icon {
  background-image: url('../img/currencies.png');
  background-position: -144px -18px;
}
.taleofdungeondelving-icon {
  background-image: url('../img/currencies.png');
  background-position: -162px -18px;
}
.fragmentofprismaticplant-icon {
  background-image: url('../img/currencies.png');
  background-position: -180px -18px;
}
.fragmentofprismaticfury-icon {
  background-image: url('../img/currencies.png');
  background-position: -198px -18px;
}
.birthday10-icon {
  background-image: url('../img/currencies.png');
  background-position: -216px -18px;
}
.bounty-icon {
  background-image: url('../img/currencies.png');
  background-position: -234px -18px;
}
.fragmentofprismaticpersuasion-icon {
  background-image: url('../img/currencies.png');
  background-position: -252px -18px;
}
.fragmentofprismaticfire-icon {
  background-image: url('../img/currencies.png');
  background-position: -270px -18px;
}
.foundheirloom-icon {
  background-image: url('../img/currencies.png');
  background-position: -288px -18px;
}
.proofoflegend-icon {
  background-image: url('../img/currencies.png');
  background-position: -306px -18px;
}
.pristinefangofthewhisper-icon {
  background-image: url('../img/currencies.png');
  background-position: -324px -18px;
}
.frozensparkoflife-icon {
  background-image: url('../img/currencies.png');
  background-position: -342px -18px;
}
.ancientdeldrimorgear-icon {
  background-image: url('../img/currencies.png');
  background-position: -360px -18px;
}
.blessedravenstatuette-icon {
  background-image: url('../img/currencies.png');
  background-position: -378px -18px;
}
.icepearl-icon {
  background-image: url('../img/currencies.png');
  background-position: -396px -18px;
}
.essentialoilofshadows-icon {
  background-image: url('../img/currencies.png');
  background-position: -414px -18px;
}
.circusvoucher-icon {
  background-image: url('../img/currencies.png');
  background-position: -432px -18px;
}
.spoolofsilkthread-icon {
  background-image: url('../img/currencies.png');
  background-position: -450px -18px;
}
.mithrilband-icon {
  background-image: url('../img/currencies.png');
  background-position: -468px -18px;
}
.spiritwoodplank-icon {
  background-image: url('../img/currencies.png');
  background-position: -486px -18px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Loading Spinner
   ========================================================================== */

.lds-container {
  text-align: center
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
